<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ebaze</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if Ebaze.Accounts.Guardian.Plug.authenticated?(@conn) do %>
            <ul>
              <%= link "New Listing", to: Routes.auction_path(@conn, :new), class: "nav-link" %>
              <%= link "My Listings", to: Routes.auction_path(@conn, :my_auctions), class: "nav-link" %>
              <%= link "Signout", to: Routes.session_path(@conn, :signout), method: :post, class: "nav-link" %>
            </ul>
          <% else %>
            <ul>
              <div>
                <%= link "Signup", to: Routes.user_path(@conn, :new), class: "nav-link", class: "button" %>    
              </div>
              <div>
                <%= link "Sign in", to: Routes.session_path(@conn, :new), class: "nav-link", class: "button" %>    
              </div>
            </ul>
          <% end %>      
        </nav>
        <a href="/" class="ebaze-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Ebaze Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
